@charset "utf-8";
@import "fonts.css";

/* --- default reset --- */
*, *:after, *:before, *::after, *::before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,body{width:100%; height:100%; overflow:auto; -webkit-overflow-scrolling:touch;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button{margin:0;padding:0}
body{*word-break:break-all; word-break: break-all}
img,fieldset,iframe,button{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle;}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{background-color:transparent}
a, button, input{border:0 none; outline:none}
a:active, button:active{outline:none}
a{display:block; text-decoration:none; color:#000;}
a:hover,
a:link{text-decoration:none;}
legend{*width:0}
table{width:100%;border-collapse:collapse;border-spacing:0; table-layout: fixed; text-align:center;}
caption{
  width:0;
  height:0;
  padding:0;
  font-size:0;
  opacity: 0;
}
th{text-align:center;}
input::-ms-clear{display:none}
input,
button{
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
pre{
  white-space:pre-line;
  background-color:#fff;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  overflow-y:auto;
}
textarea{
  resize:none;
}
figure{
  text-align:center
}

/* --- loading --- */
#loading {
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  position: absolute;
  top:50%;
  left:50%;
  z-index: 99;
}
#status {
  width: 200px;
  height: 200px;
  background: url(../img/loading.gif) no-repeat center;
}

/* --- common class --- */
.ir{display:block;text-indent:100%;white-space:nowrap;overflow:hidden}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.clearFix::after{content:"";display:block;clear:both}
.alignMiddle{display:inline-block; width:0; height:100%; vertical-align:middle; font-size:0;}
.ellipsis{
  overflow:hidden; white-space: nowrap; text-overflow: ellipsis;
}
.nextLine{
  display:block;
}
.nextLineType2{
  display:inline;
}
.blind{
  position:absolute;
  top:0;
  right:0;
  bottom:90px;
  left:0;
  z-index: 5;
  background-color:#f18b67;
  opacity: 0;
}


/* -- layout -- */
.container{
  width:1100px;
  margin:0 auto;
  border:1px solid red
}
header{
  height:100px;
  border-bottom:1px solid red
}
.headerLine{
  height:100px;
  position:relative;
  font-size:0;
}
.headerLine h1,
.headerLine nav,
.headerLine li{
  display:inline-block;
  vertical-align: middle;
}
.headerLine h1{
  font-size:30px;
}
.lnb{
  margin-left:120px;
}
.lnb li{
  margin-left:38px;
  position:relative;
  font-size:16px;
  font-weight:bold;
}
.lnb li a{
  padding:9px;
}
.lnb li:hover a{
  color:#f77f44
}
.lnb li:hover:after{
  content:"";
  display:block;
  width:100%;
  height:5px;
  position:absolute;
  top:63px;
  background-color:#f77f44
}
.lnb .lnbSubBtn {
  position:absolute;
  top:35px;
  right:-70px;
}
.lnb .lnbSubBtn:hover:after{
  display:none;
}
.btnSubMenu{
  padding:3px;
}
.btnSubMenu span{
  display:block;
  width: 24px;
  height:4px;
  margin-bottom:3px;
  background-color:#000;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  /*-webkit-transition: all 0.3s ease;*/
  /*-moz-transition: all 0.3s ease;*/
  /*-ms-transition: all 0.3s ease;*/
  /*-o-transition: all 0.3s ease;*/
  /*transition: all 0.3s ease;*/
}
.lnb .lnbSubBtn:hover span{
  background-color:#f77f44
}
/*.btnSubMenu:active span:nth-child(1){ transform: translateY(7px) rotate(-45deg); }*/
/*.btnSubMenu:active span:nth-child(2){ transform: rotate(-45deg); opacity: 0}*/
/*.btnSubMenu:active span:nth-child(3){ transform: translateY(-7px) rotate(-135deg); }*/


article{
  position:relative;
}
.subMenu{
  display:none;
  width:100%;
  height:calc(100% - 90px);
  padding:40px 55px;
  position:absolute;
  top:0;
  left:250px;
  z-index: 50;
  font-size:0;
  background-color:#fff;
}
.subMenu > div{
  width:1178px;
  margin-bottom:30px;
  text-align: right;
}
.subMenu .lineBar{
  display:inline-block;
  width:1080px;
  height:1px;
  margin-right:1px;
  vertical-align: middle;
  background-color:#000;
}
.subMenuClose{
  vertical-align: middle;
  font-size:20px;
}
.subMenuClose i{
  display:inline-block;
  width:20px;
  height:20px;
  margin-left:10px;
}
.subMenuClose span{
  display:block;
  width: 22px;
  height:3px;
  background-color:#000;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.subMenuClose span:nth-child(1){ transform: translateY(11px) rotate(-45deg); }
.subMenuClose span:nth-child(2){ transform: translateY(8px) rotate(-135deg); }
.subMenu .subMenuList{
  width:1178px;
  font-size:20px;
  overflow:hidden;
}
.subMenuList dl{
  float:left;
  width:32.1%;
  min-height:290px;
  margin-bottom:7px;
  padding-left:15px;
  letter-spacing: -0.2px;
}
.subMenuList dl:nth-child(1){
  width:37.5%;
}
.subMenuList dl:nth-child(3){
  float:right;
  width:30.4%;
}
.subMenuList dl:nth-child(4){
  clear:left;
  width:37.5%;
}
.subMenuList dt{
  margin-bottom:20px;
  font-size:28px;
  font-weight:bold;
  line-height:26px;
}
.subMenuList dd{
  line-height:40px;
}
.subMenuList ul{
  font-size:16px;
}
.subMenuClose:hover,
.subMenuList dd:hover > a,
.subMenuList dd.on > a,
.subMenuList li:hover > a,
.subMenuList li.on > a{
  color:#f77f44
}
.subMenuClose:hover span{
  background-color:#f77f44
}
.subMenuList li{
  display:block;
  line-height: 32px;
}
.subMenuList .disc{
  padding:0;
}
.modalPage{
  display:none;
  margin-left:-482px;
  padding:30px 40px 30px 30px;
  position:absolute;
  bottom:0;
  left:50%;
  z-index: 1;
  background-color:#fff;
  overflow:hidden;
}
.modalPage > div{
  float:left;
  width:250px;
  margin-right:48px;
  position:relative;
}
.modalPage h2{
  font-size:16px;
  height:34px;
  border-bottom:2px solid #000;
}
.firstDiv h2{
  font-size:22px;
  border-bottom:0 none;
}
.modalPage .arteList{
  height:62px;
  margin-top:15px;
  overflow:hidden;
}
.modalPage strong{
  display:block;
  font-size:14px;
  margin-bottom:10px;
}
.arteList li{
  display:none;
}
.arteList li.on{
  display:block
}
.modalPage .ellipsisText{
  display:block;
  height:36px;
  font-size:12px;
  color:#888;
  line-height:18px;
  letter-spacing: -0.5px;
  word-break: keep-all;
  overflow:hidden;
}
.firstDiv ul{
  width:110%;
  height:auto;
  margin-top:5px;
  overflow:hidden
}
.firstDiv li{
  float:left;
  width:117px;
  height:35px;
  margin-right:15px;
  position:relative;
  line-height: 35px;
  border-bottom:1px solid #ddd
}
.firstDiv li:after{
  content:"";
  display:inline-block;
  width:6px;
  height:10px;
  position:absolute;
  top:12px;
  right:10px;
  vertical-align: middle;
  background:url(../../main/img/mainSplite.png) no-repeat -130px -20px;
}
.modalPage .modalBtnGroup{
  position:absolute;
  top:0;
  right:0;
  font-size:0;
}
.modalBtnGroup button{
  width:20px;
  height:20px;
  background:url(../../main/img/mainSplite.png) no-repeat -123px 5px;
}
.modalBtnGroup .next{
  background-position:-123px -15px;
}
.modalPage .modalPageClose{
  display:block;
  width: 56px;
  height: 56px;
  position:absolute;
  top:0;
  right:0;
  background:url(../../main/img/mainSplite.png) no-repeat -60px 0;
}
/*.modalPageClose span{*/
  /*display:block;*/
  /*width: 20px;*/
  /*height:3px;*/
  /*background-color:#fff;*/
  /*-webkit-border-radius:3px;*/
  /*-moz-border-radius:3px;*/
  /*border-radius:3px;*/
/*}*/
/*.modalPageClose span:nth-child(1){ transform: translateY(2px) rotate(-45deg); }*/
/*.modalPageClose span:nth-child(2){ transform: translateY(-1px) rotate(-135deg); }*/

footer{
  min-width:1265px;
  height:90px;
  font-size:0;
  text-align:center;
  border-top:1px solid red
}
footer address,
footer nav{
  display:inline-block;
  vertical-align: middle;
  font-size:12px;
  text-align: left;
  line-height: 1.5;
}
footer nav{
  margin-left:250px;
}
.footGnb li{
  float:left;
  width:136px;
  height: 32px;
  margin-left:5px;
  padding:0 10px 0 26px;
  line-height:32px;
  border-bottom:1px solid #ddd;
}
.footGnb li:first-child{
  margin-left:0;
  font-size:14px;
}
.footGnb .toggleMenu{
  width:184px;
  padding-left:15px;
  position:relative;
  border:1px solid #ddd;
}
.toggleMenu:after{
  content:"";

}
